- debug:
    msg: "{{ hostvars }}"
- include_tasks: list_instances.yml
- include_tasks: find_AMI.yml
  when: AMI_image_id is not defined and exact_count greaterthan 0
- include_tasks: create_or_terminate_instance.yml

- include_tasks: list_instances.yml
- include_tasks: add_running_instances_to_hosts.yml
  when: exact_count greaterthan 0

- debug:
    msg: "{{ hostvars }}"

- include_tasks: wait_for_ssh.yml
  when: exact_count greaterthan 0
- include_tasks: list_instances.yml
  when: exact_count greaterthan 0
